@using System.Threading.Tasks
@using MVC6Awakens.ViewModels.Characters
@model CharacterEdit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Character</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <input Wrap="true" asp-for="Name" class="form-control" />
        <input Wrap="true" asp-for="WeaponOfChoice" class="form-control" />
        <select Wrap="true" asp-for="HomePlanetId" asp-items="ViewBag.HomePlanetId" class="form-control"></select>
        <select Wrap="true" asp-for="SpeciesId" asp-items="ViewBag.SpeciesId" class="form-control">
            <option>Choose...</option>
        </select>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
